extends base.pug

block style 
 style 
  include ../static/External_Links/style.css
block script 
 script 
  include ../static/External_Links/style.js

block main 
 h1.heading Hello The Template Inhertiance working so smooth!

block footer